  <div class="container__header_right">
    <b class="container__header_text">SpellNote</b>
  </div>
  <section class="container__sidebar">
    <%= render 'words/list' %>
  </section>
  <div class="container__header_left">
    <b class="container__header_text">WorkSpace</b>
  </div>