<article class="">
  <section class="textbox">
    <%= form_with(model:[workspace, word]) do |f| %>
      <h4 class="textbox__label">
        単語
        </h4>
      <div class="textbox__paragraph">
        <%= f.text_field :word, id: "ajax__woed",class: "textbox__body" %>
        </div>
      <h4 class="textbox__label">
        説明
        </h4>
      <div class="textbox__paragraph">
        <%= f.text_area :commentary, id: "afax__commentary", class: "textbox__body_big" %>
        </div>
      <div class="textbox__paragraph">
        <%= f.submit '編集' %>
        </div>
    <% end %>
  </section>
</article>