<section class="textbox">
<div id="ajax__word_edit">
  <div><%= word.word %></div>
  <div><%= word.commentary %></div>
</div>


<%= link_to "編集", workspace_word_edit_path(workspace.id, word.id), remote: true %>
</section>
