/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300&display=swap');


body {
  /*初期値*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  color: #002333;  /*青みを帯びた黒*/
  font-family: 'sans-serif';  /*読みやすさ優先*/
  background-color: #00aeff;
}

.header {
  margin: 0 auto;
  height: 110px;
  background-color: #002333;
}

.header__title {
  margin: auto;
  color: #DDDDDD;
  font-size: 0.5em;
  font-family: 'IBM Plex Sans Devanagari', 'sans-serif';
  text-align:center;
  cursor: default;
}

.header__title b {
  font-size: 6em;
}

.menu {
  margin: -5px 0;
  color: #DDDDDD;
  padding-inline-start: 0;  /*ulの40px打ち消し*/
  list-style: none;
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
}

.menu__link {
  margin: auto 5px;
  color: #DDDDDD;
  font-family: 'IBM Plex Sans Devanagari', 'sans-serif';
  text-decoration: none;
}

.footer {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

