<article class="public">
  <section class="public__main">
    <h3>何故このサイトは青いのか</h3>
    <h4>アイデアを引き出す「青」</h4>
    <p>
      青は脈拍や呼吸数を減らし、動脈圧を下げ、リラックスした状態へと導くとされています。<br>
      人はリラックスした状態になると想像力が高まるので、青が目に入る形で行うことで執筆作業を補助致します。

    </p>
  </section>
</article>