<article class="public">
  <section class="public__instructions">
    <h3 class="public__main_title">取扱説明書</h3>
    <ul>
      <li>
        <h4>題材ごとのワークスペース作成</h4>
        <p>
          ログイン後、ホーム画面から新規作成できます。</br>
          詳細ページで新規ページの作成、情報の編集を行えます。
        </p>
      </li>
      <li>
        <h4>造語登録</h4>
        <p>
          サイドバーで新規作成、編集、削除ができます。
        </p>
    　</li>
    </ul>
  </section>
</article>