<article class="public">
  <section class="public__main">
    <h4 class="public__main_title">PNWへようこそ！</h4>
    <p>
      ここは小説投稿サイトへの投稿原稿執筆用アプリケーションです。<br>
      上のメニューから会員登録/ログインすることで、コンテンツを利用できます。
    </p>
  </section>
</article>